.max-width{
    max-width: 1100px;
    margin: 0px auto;
}
.absolute-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cur-po{
    cursor: pointer;
}
.collection-title{
    font-size: 30px;
    color: var(--heading-text);
    margin-bottom: 32px;
    font-weight: 600;
}
.slick-prev:before,
.slick-next:before {
    color: var(--gray);
    /* background: rgb(0, 0, 0); */
    border-radius: 50%;
    font-size: 20px;
}